#hero-banner {
    display: block;
    text-align: center;
}

.contaxt {
    display: done;
}

.info-list li a {
    text-decoration: none;
    color: white;
}

#contact {
    height: 100%;
    background: #1E1E1E;
    padding: 30px 20px;
}

#contact h1 {
    color: #ffffff;
    margin: 10px;
}

#contact p {
    color: #cccccc;
    margin: 10px;
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 24px;
    background: #1a1a1a;
    width: 100%;
    height: auto;
    border: 1px solid #333333;
    border-radius: 16px;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form-group input,
.form-group textarea {
    background: #121212;
    color: #ffffff;
    border: 1px solid #333333;
    padding: 8px 14px;
    border-radius: 6px;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #888888;
}

.form-group textarea {
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
}

.form-group label {
    color: #ffffff;
    font-size: 14px;
}

.fullname {
    display: flex;
    gap: 10px;
}

button.primary-button {
    background: #333333;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button.primary-button:hover {
    background: #444444;
}

@media only screen and (min-width: 1024px) {
    .contaxt {
        display: flex;
    }

    #infox {
        flex: 1;
        background: #1E1E1E;
        padding: 34px;
        color: white;
    }

    .info-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 26px;
    }

    #contact {
        flex: 2;
        height: 100%;
        background: #1E1E1E;
        padding: 0px 20px 20px 20px;
        display: block;
    }

    #contact form {
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding: 20px;
        background: #1a1a1a;
        width: 100%;
        height: auto;
        border: 1px solid #333333;
        border-radius: 16px;
    }

}

@media only screen and (max-width: 768px) {

    .fullname {
        flex-direction: column;
        gap: 14px;
    }
}