#services {
    padding: 72px 20px;
}

#services2 {
    padding: 35px 15px 40px 15px;
}

.services-container {
    text-align: center;
}

.services-heading {
    text-align: center;
    margin-bottom: 32px;
}

.services-heading h2 {
    font-size: 32px;
    margin-bottom: 14px;
}